[Unit]
Description=Spyder Crawling Indexer
After=network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=always
RestartSec=5s
RuntimeMaxSec=1d

User=charles
WorkingDirectory=/opt/spyder/tools
ExecStart=/usr/bin/python3 /opt/spyder/tools/spyder.py

[Install]
WantedBy=multi-user.target
