[Unit]
Description=Spyder Search Interface
After=network.target

[Service]
Type=simple
User=charles
ExecStart=/usr/bin/python3 /opt/spyder/web/app.py

[Install]
WantedBy=multi-user.target
