<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="theme-color" content="white" media="(prefers-color-scheme: light)">
	<meta name="theme-color" content="black" media="(prefers-color-scheme: dark)">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/fonts.css" type="text/css" charset="utf-8"/>
	
	{% block extra_head %}{% endblock %}

	<script type="text/javascript" src="/js/utils.js"></script>

	{% block extra_scripts %}{% endblock %}
</head>
<body>

<div id='main'>
	{% block content %}{% endblock %}
</div>

<script>
	window.addEventListener("resize", mobileWidthCheck); mobileWidthCheck();
	{% block final_scripts %}{% endblock %}
</script>
</body>
</html>
