{% extends "base.html" %}

{% block title %}Spyder Search{% endblock %}

{% block description %}Spyder search page.{% endblock %}

{% block content %}
	<div class="header" style="display: grid;">
		<text class="title_caption">{{ date }}</text>
		<text class="title">Search</text>
	</div>
	<div class="gradient_row">
		<form action="/search" method="GET">
			<input name="q" value="" class="gradient_row_input"/>
		</form>
	</div>
	<a href="/rankings">
		<div class="footer">
			<text class="title_caption">top websites</text>
		</div>
	</a>
{% endblock %}