html, body {
	height: 100%;
	overflow: auto;
	margin: 0px;
	font-family: 'Sans', Arial, sans-serif !important;
}

html {
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
}

#main {
	margin: 0 auto;
	width: 70%;
	background-color: #FFFFFF;
	padding-top: 15px;
	overflow: auto;
	max-width: 800px;
}

.gradient_row {
	position: relative;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0px 5px 10px #c3c3c3;
	background: linear-gradient(315deg, #1CB5E0 0%, #000851 100%);
}

.gradient_row_title {
	color: white;
	font-size: 20pt;
	font-weight: bold;
}

.gradient_row_caption {
	color: lightgray;
	font-size: 10pt;
	overflow: hidden;
}

.gradient_row_description {
	color: white;
	font-size: 12pt;
	padding-top: 10px;
}

.gradient_row_input {
	color: white;
    font-size: 20pt;
    font-weight: bold;
    border: none;
    background: initial;
    width: -webkit-fill-available;
	font-family: 'Sans', Arial, sans-serif !important;
}

textarea:focus, input:focus{
    outline: none;
}

.header {
    padding: 0px 20px 0px 20px;
}

.footer {
    padding: 0px 20px 10px 20px;
}

.title {
	color: black;
	font-size: 30pt;
	font-weight: bold;
}

.title_caption {
	color: grey;
	font-size: 10pt;
	font-weight: bold;
	text-transform: uppercase;
}

.number_row {
	list-style-type: none;
	text-align: center;
	width: fit-content;
	margin: auto;
	padding: 10px;
}
  
.number_row li {
	display: inline-block;
	padding: 0px 15px 00px 15px;
}

.number_row_text {
	color: black;
	font-size: 15pt;
}

.rounded_border {
	border: 1px solid lightgrey;
	border-radius: 30px;
}

.bold {
	font-weight: bold;
}

.blur {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

@media (prefers-color-scheme: dark) {
    body, #main {
        background-color: black;
        color: white;
    }
	.title {
		color: white;
	}
	.gradient_row {
		box-shadow: none;
	}
}